* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    height: 100%;
}

body {
    height: 100%;
    overflow-x: auto;
    overflow-y: scroll;
}

@font-face {
    font-family: sundayBest;
    src: url("../fonts/sundayBest.ttf");
}